{% extends "base.html" %}

{% block content %}
<h2>Historial de Eliminaciones</h2>

<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>ID Original</th>
                <th>Datos</th>
                <th>Eliminado por</th>
            </tr>
        </thead>
        <tbody>
            {% for item in historial %}
            <tr>
                <td>{{ item.fecha_eliminacion }}</td>
                <td>{{ item.tipo_entidad }}</td>
                <td>{{ item.entidad_id }}</td>
                <td>
                    <pre>{{ item.datos }}</pre>
                </td>
                <td>{{ item.eliminado_por }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}